{% extends "base.html" %}
{% block title %}Add Task{% endblock %}
{% block body_block %}
{% if task_added %}
<p>You have succesfully created a task!</p>
<a href="/task_list">Go to task list (will redirect automatically in 2 seconds)</a>
<script>
// Redirect after 2 seconds
$(document).ready(function() {
  window.setTimeout(function() {
    location.href = "/task_list/";
  }, 2000);
});
</script>

{% else %}
<div class="container" style="width:350px; margin-left:0">
  <form role="form"  method="post" action=".">
    {% csrf_token %}
    <h2 class="form-signin-heading">Add Task</h2>
    
    <div class="form-group" >
      <p class="required"> <label for="id_title">Title:</label>
      <input class="form-control" id="id_title" maxlength="30" name="title"
      type="text" placeholder="Enter title"/></p>
    </div>
    
    <div class="form-group" >
      <p class="required"> <label for="id_description">Description:</label>
      <input class="form-control" id="id_description" maxlength="30" name="description"
      type="text" placeholder="Enter description"/></p>
    </div>

    {% if form_errors %}
    <p>{{form_errors}}</p>
    {% endif %}
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endif %}
{% endblock %}
