{% extends "base.html" %}
{% block title %}Add Task{% endblock %}
{% block body_block %}
{% if task_edited %}
<p>You have succesfully edited your task!</p>
<a href="/task_list">Go to task list (will redirect automatically in 2 seconds)</a>
<script>
// Redirect after 2 seconds
$(document).ready(function() {
  window.setTimeout(function() {
    location.href = "/task_list/";
  }, 2000);
});
</script>

{% else %}
<div class="container" style="width:350px; margin-left:0">
  <form role="form"  method="post" action="./{{task.id}}">
  {% csrf_token %}
    <h2 class="form-signin-heading">Edit Task</h2>
    
    <div class="form-group" >
      <p class="required"> <label for="id_title">Title:</label>
        <input class="form-control" id="id_title" maxlength="30" name="title"
          type="text" value={{task.title}}>
      </p>
    </div>
    
    <div class="form-group" >
      <p class="required"> <label for="id_description">Description:</label>
        <input class="form-control" id="id_description" maxlength="30" name="description"
          type="text" value={{task.description}} />
      </p>
    </div>

    {% if task.is_done %}
    <div class="radio">
      <label><input type="radio" name="task_status" value="0">Task not done</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="task_status" value="1" checked="checked">Task done</label>
    </div>
    
    {% else %}
    <div class="radio">
      <label><input type="radio" name="task_status" value="0" checked="checked">Task not done</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="task_status" value="1" >Task done</label>
    </div>
    {% endif %}

    {% if form_errors %}
    <p>{{form_errors}}</p>
    {% endif %}
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endif %}
{% endblock %}
