{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block body_block %}

{% if registered %}
<p>You have successfully registered!</p>
<a href="/task_list">Go to login (will redirect automatically in 2 seconds)</a>

<script>
// Redirect after 2 seconds
$(document).ready(function() {
  window.setTimeout(function() {
    location.href = "/task_list/login";
  }, 2000);
});
</script>

{% else %}
<div class="container" style="width:350px; margin-left:0">
  <form role="form"  method="post" action=".">
    {% csrf_token %}
    <h2 class="form-signin-heading">Register</h2>
   
    <div class="form-group" >
      <p class="required"> <label for="id_username">Username:</label>
        <input class="form-control"  id="id_username" maxlength="30"
          name="username" type="text"  placeholder="Enter username"/>
      </p>
    </div>

    <div class="form-group">
      <p class="required"><label for="id_email">E-mail:</label>
        <input class="form-control" id="id_email" name="email"
          type="email" placeholder="Enter email" />
      </p>
    </div>
 
    <div class="form-group">
      <p class="required"><label for="id_password">Password:</label>
        <input class="form-control" id="id_password" name="password"
          type="password" placeholder="Enter password" />
      </p>
    </div>

    {% if form_errors %}
    <p>{{form_errors}}</p>
    {% endif %}

    <button type="submit" class="btn btn-default">Submit</button>
 </form>
</div>
{% endif %}
{% endblock %}
